.hero-shot{
    height:500px;
    width:100%; 
    /* background-color: blue; */
    background-image:url('work-desk__dustin-lee.jpg')
}

.heroshot-text{
    text-align: center;
    margin-top: 150px
}

.title-heroshot{
    color:white;
    font-size:24px;
}

.detail-heroshot-1{
    color:white;
    font-size:18px;
    font-weight: bold;

}

.detail-heroshot-2{
    color:white;
    font-size:14px;
}

.button-heroshot{
    background-color: rgb(0, 74, 117);
    color:white;
    padding: 10px 10px 10px 10px
}

.button-heroshot-hover{
    background-color:white;
    color: rgb(0, 74, 117);
    padding: 10px 10px 10px 10px
}