.highlights-detail-body{
    width: 31%;
    margin: 0.5% 0.5% 0.5% 0.5%;
    padding: 0.5% 0.5% 0.5% 0.5%;
    float: left;
    border: 1px solid grey;
    position: relative;
}

.highlights-detail-title{
    font-size: 24px;
}

.highlights-detail-description{
    font-size: 14px;
}

.highlights-detail-image{
    position: absolute;
    right: 0px;
    top: 0px;
    padding-top: 2%;
    padding-right: 2%
}

@media only screen and (max-width: 480px) {
    .highlights-detail-body{
        float: left;
        width: 96%;
        margin: 0.5% 0.5% 0.5% 0.5%;
        padding: 0.5% 0.5% 0.5% 0.5%;
        border: 1px solid grey;
        position: relative;
    }
}

@media only screen and (min-width: 480px) and (max-width:960px){
    .highlights-detail-body{
        float: left;
        width: 46%;
        margin: 0.5% 0.5% 0.5% 0.5%;
        padding: 0.5% 0.5% 0.5% 0.5%;
        border: 1px solid grey;
        position: relative;
    }
}