.highlights-panel-body{
    background-color: rgb(229,229,229);
}

.highlights-panel-text{
    margin: auto;
    text-align: center;
    max-width: 720px;
}

.highlights-panel-title{
    font-size: 24px;
}

.highlights-panel-detail{
    font-size: 14px;
}

.highlights-panel-container{
    display: inline-block;
    width:100%;
}