.modal{
    background-color: rgb(0, 123, 193);
    color:white;
    position: absolute;
    max-width: 640px;
}

.display{
    display: block
}

.display-none{
    display: none
}

.modal-title{
    font-size: 24px
}

.modal-form-text{
    margin-right: 10px;
    width: 60%
}

.modal-form-submit{
    background-color: orange;
    color: white;
    float: right;
    width: 20%
}

.modal-button{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(0, 123, 193);
    color: white;
    border-color: rgb(0, 123, 193);
}