.notification-panel-body{
    max-width: 720px;
    margin: auto
}

.notification-panel-none{
    display: none
}

.notification-panel-button{
    padding: 10px;
    background-color: rgb(0, 74, 117);
    color: white
}